#boards-container{
    overflow-x: hidden;
    height: 100vh;
    margin: 0%;
    display: flex;
}


.header{
    display: flex;
    background-color: #E0E0E0;
    margin: 0;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
}

.header.dark-mode{
    display: flex;
    background-color: #383838;
    margin: 0;
    color: white;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 4px;
}

.dark-mode input[type="radio"] {
    margin-right: 1px;
    cursor: pointer;
}

#logout{
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #6c757d;
    color: white;
    height: 40px;
}


.dropdown-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    padding-right: 0;
    cursor: pointer;
    font-size: 16px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
}

.dropdown-button:hover {
    background-color: var(--menu-hover-background-color);
}

#dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--menu-background-color);
    color: var(var(--menu-text-color));
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 500px;
    overflow-y: auto;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
}

#dropdownMenu a {
    color: var(--menu-text-color);
    text-decoration: none;
    display: block;
    padding: 10px;
}

#dropdownMenu a:hover {
    background-color: var(--menu-hover-background-color);
    border-radius: 4px;
}

#dropdownMenu.show {
    display: block;
} 